@import "partials/utilities/variables";
@import "partials/utilities/mixins";
@import "partials/utilities/extend";

@import "partials/base/reset";
@import "partials/base/tipografias";

@import "partials/components/header";
@import "partials/components/general";
@import "partials/components/footer";
