.navbar {
  min-height: 60px;
  align-items: center;
  background-color: $navbar-bg;
  

  .container-fluid {
    width: 100%;
  }
}

.logo-nav {
  max-height: 40px;
  width: auto;
  display: block;
}


.navbar-brand {
  display: flex;
  padding: 0;
  margin-right: 0;
  height: 60px; 
}

.nav-link {
  font-size: 1.1rem;
  margin: 0 15px;
  padding: 0;
  color: rgba(255, 255, 255, 0.75);

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}


//Media Queries


@include tablet {
  .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .logo-nav {
    max-width: 100px;
  }

  .navbar-toggler {
    display: flex;
    background-color: $primary-color;
    border-style: groove;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(52, 58, 64, 0.95);
    padding: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;

    .nav-item {
      margin-bottom: 5px;
    }

    .nav-link {
      font-size: 1.5rem;
      color: $light-bg;
      padding: 12px 15px;
      display: block;
      border-radius: 5px;
      margin: 0;

      &.active {
        background-color: #007bff;
        color: white;
        font-weight: bold;
      }

      &:hover {
        background-color: #495057;
        color: white;
      }
    }
  }
}


//mobile

@include mobile {
  .logo-nav {
    max-width: 80px;
  }

  .navbar-toggler {
    width: 45px;
    height: 45px;
  }

  .navbar-nav .nav-link {
    font-size: 1.3rem;
  }
}

