body {
  background-color: #bcb6bc;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: $font-title;
  font-size: 3rem;
  color: $dark-color;
  text-align: center;
}

h2 {
  font-family: $font-title;
}

p {
  font-family: $font-text;
  font-size: 1.1rem;
}
